@font-face {
  font-family: public-sans-bold;
  src: url("./fonts/public-sans-v1.004/PublicSans-Bold.woff");
}

@font-face {
  font-family: public-sans-regular;
  src: url("./fonts/public-sans-v1.004/PublicSans-Regular.woff");
}

@font-face {
  font-family: public-sans-light-italic;
  src: url("./fonts/public-sans-v1.004/PublicSans-ExtraLightItalic.woff");
}

body{
  background-color: #0E0E0E;
  color: white;
  width: 40%;
  min-width: 350px;
  position: relative;
  margin: auto;
  top: 10%;
  height: 90%;
}

@media only screen and (max-width: 768px) {
  body {
    width: 80%;
    min-width: 50px;
  }
}

h1{
  font-family:public-sans-bold;
  font-size:3em;
}

h2{
  font-family:public-sans-bold;
  font-size: 0.6em;
  margin-top: -1.2em;
  color: #D0CFCF;
}

p{
  font-family:public-sans-regular;
  font-size: 1em;
  line-height:1.9em;
  color: #D0CFCF;
  text-align: justify;
}

.summary {

}

.left-footer{
  margin-top: -1.2em;
  color: #A0A0A0;
  font-size: 0.6em;
  font-family:public-sans-light-italic;
}

.right-footer{
  font-family:public-sans-light-italic;
  color: #A0A0A0;
  font-size: 0.6em;
  margin-top: -1.2em
}
